body {
  background-color: #303030;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  margin: 0 !important;
}

.wrapper {
  width: 100%;
}

.header {
  width: 100%;
  padding: 2% 0;
}

.eng {
  float: right;
}

.logo {
  width: 60%;
  font-size: 300%;
  text-align: center;
  margin-left: 12%;
  float: left;
}
.logo2 {
  margin-right: 12%;
}

.nav {
  width: 100%;
  padding: 0.5% 0;
  background-color: #c34f4f;
  text-align: center;
  border-top: 1% solid #751b1b;
  border-bottom: 1% solid #751b1b;
}

.content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding-top: 1%;
}

.socials {
  width: 100%;
  text-align: center;
  background-color: #292929;
}

.socialdivs {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.fb {
  width: 25%;
  height: 15.5%;
  float: left;
}

.fb:hover {
  background-color: #4668b3;
}

.yt {
  width: 25%;
  height: 15.5%;
  float: left;
}

.yt:hover {
  background-color: #d94348;
}

.tw {
  width: 25%;
  height: 15.5%;
  float: left;
}

.tw:hover {
  background-color: #3095d3;
}

.gplus {
  width: 25%;
  height: 15.5%;
  float: left;
}

.gplus:hover {
  background-color: #d95333;
}

.footer {
  text-align: center;
  background-color: #222222;
  padding: 1%;
}

.sticky {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 95%;
  height: 2em;

  display: inline-block;
}

ol a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

ol > li {
  float: left;
  width: 10em;

  border-right: 0.05em dashed #751b1b;
}

ol > li:first-child {
  border-left: 0.05em dashed #751b1b;
}

ol > li:hover {
  background-color: #cf6969;
}

ol > li:hover > a {
  color: #451717;
}

ol > li > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: none;
}

ol > li:hover > ul {
  display: block;
}

ol > li > ul > li {
  background-color: #cf6969;
  position: relative;
  z-index: 100;
  border-top: 0.05em dashed #751b1b;
}

ol > li > ul > li:hover {
  background-color: #c34f4f;
}

ol > li > ul > li:hover > a {
  color: #451717;
}
a {
  text-decoration: none;
  color: inherit;
}
